a:link {
    text-decoration: underline;
    color: black;
}
a:visited {
    text-decoration: underline;
    color: black;
}
a:hover {
    color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#title1 {
    color: black;
    text-align: center;
    font-size: 500%;

    
}
#title2 {
    color: gold;
    text-align: center;
    font-size: 200%;
    font-family: cursive;

    

}
#sidebar {
    text-align: left;
    font-size: 150%;
    font-family: Arial;
    color: black;
}
body {
    background-color: rgba(0, 255, 0, 0.3);
}